*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.node {
    stroke: black;
    stroke-width: 1.5px;
    cursor: pointer;
    /* Change cursor on hover over the node */
}

.label,.node-title {
    font: 12px sans-serif;
    fill: black;
}

.container1 {
    display: flex;
    flex-wrap: warp;
}

#d3-container svg{
    margin-left: 25px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
}

.button1 {
    display: flex;
    flex-direction: column; 
    justify-content: flex-end;
    height: 300;
    width: 200;
}

#manual-resp {
    margin-left: 20px;
    margin-bottom: 20px;
}

#auto-sim {
    margin-left: 20px;
    margin-bottom: 20px;
}

.title {
    background: transparent;
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 25px;
}

body {
    /* background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%); */
    background: linear-gradient(245.59deg, rgb(144, 131, 83) 0%, rgb(107, 97, 61) 28.53%, rgb(72, 65, 41) 75.52%);

}

#simButton {
    display: inline-block;
    color: white;
    background: #e6c109;
    border: 1px solid transparent;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 500;
    border-radius: 10px;
    transition: all .55s ease;
}

#simButton:hover {
    background: transparent;
    border: 1px solid white;
    transform: translateX(8px);
}

#manual-resp {
    display: flex;
    /* transform: translateX(8px); */
}

#manual-resp a {
    margin-left: 10px;
    text-decoration: none;
}

#likeButton i {
    display: block;
    color: black;
    font-size: 18px;
    transition: all .50s ease;
}

#likeButton i:hover {
    transform: translateY(-5px);
}

#dislikeButton i {
    display: block;
    color: black;
    font-size: 18px;
    transition: all .50s ease;
}

#dislikeButton i:hover {
    transform: translateY(-5px);
}

#auto-sim {
    margin-left: 20px;
}

#vis-container svg{
    margin-left: 25px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 10px;
}

.bottom-sec {
    display: flex;
    flex-wrap: warp;
    width: 600;
    height: 300;
}

.algo-sel{
    margin-left: 20px;
    margin-top: 20px;
}